.about-body
  font-family: Aadhunik, sans-serif
  margin-top: 20px

.about-footer
  display: block
  margin: 0 auto 0 auto
  position: relative
  top: -350px
  max-width: 730px
  z-index: 1
  @media all and (max-width: 600px) and (orientation: portrait)
    top: -180px
  @media all and (max-width: 700px) and (orientation: landscape)
    top: -500px

.about-text
  display: block
  margin: 0 auto 0 auto
  font-size: 1.4em
  font-family: Ubuntu-L, sans-serif
  text-wrap: normal
  max-width: 700px
  z-index: 3
  @media all and (max-width: 600px) and (orientation: portrait)
    margin: 0 5px 0 10px
  @media all and (max-width: 700px) and (orientation: landscape)
    position: relative
    top: -180px
    font-size: 2em
    margin: 0 10px 0 10px
  @media all and (min-width: 701px) and (max-width: 900px) and (orientation: landscape)
    font-size: 2em

.about-header
  display: block
  margin: 0 auto 0 auto
  max-width: 730px
  z-index: 2
  @media all and (max-width: 700px) and (orientation: landscape)
    position: relative
    top: -120px