.header-app-bar
  display: inline-flex
  background-color: #1D1D1D
  width: 100vw
  height: 7vh
  min-height: 36px
  -webkit-box-shadow: 0 2px 10px #0E0E0E
  -moz-box-shadow: 0 2px 10px #0E0E0E
  box-shadow: 0 2px 10px #0E0E0E
  z-index: 1
  p
    font-family: Aadhunik, sans-serif
    font-size: calc(0.9em + 1vw)
    align-self: center
    margin: 0 2vw 0 2vw

.right-app-bar
  display: inline-flex
  align-self: center
  margin-left: auto
  a
    margin: 0 2vw 0 2vw
  img
    height: 2.5vw
    min-height: 20px