.contact-body
  display: block
  margin: 7vh auto 0 auto
  max-width: 730px
  text-align: center
  h1
    font-family: var(--primary-font)
    font-size: 4em
  p
    margin: 0 2vw 0 2vw
    font-family: var(--secondary-font)
    font-size: 2em

.contact-methods
  display: inline-flex
  margin: 4vh
  border: 4px solid var(--accent)
  border-right-width: 0
  border-bottom-width: 0

.contact-card
  width: 200px
  height: 150px
  margin: 2vh 2vw 0 2vw
  background-color: var(--design-icon-background)
  img
    width: 190px
    display: block
    margin: auto
  i
    display: block
    margin: auto
    font-size: 6em
    max-width: 190px
    max-height: 100px
  p
    font-family: var(--secondary-font)
    font-size: 1em