@import url(variables.css);
.header-app-bar {
  display: inline-flex;
  background-color: #1D1D1D;
  color: white;
  width: 100vw;
  height: 7vh;
  min-height: 38px;
  max-height: 70px;
  -webkit-box-shadow: 0 2px 10px #0E0E0E;
  -moz-box-shadow: 0 2px 10px #0E0E0E;
  box-shadow: 0 2px 10px #0E0E0E;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 5; }
  .header-app-bar a {
    font-family: Aadhunik, sans-serif;
    font-size: calc(0.9em + 1vw);
    cursor: pointer;
    align-self: center;
    margin: 0 1vw 0 1vw;
    padding-left: 6px;
    padding-right: 8px; }

.selected {
  animation-name: fade-in;
  animation-duration: 0.3s;
  border-bottom: 20px solid #D44A27;
  padding-top: calc(24px + 1vh);
  padding-bottom: calc(5px + 1vh); }

.right-app-bar {
  display: inline-flex;
  align-self: center;
  margin-left: auto; }
  .right-app-bar a {
    margin: 0 1vw 0 1vw; }
  .right-app-bar img {
    height: 2.5vw;
    min-height: 20px; }

@-webkit-keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); }
  100% {
    border-bottom: 20px solid #D44A27;
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); } }

@-moz-keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); }
  100% {
    border-bottom: 20px solid #D44A27;
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); } }

@-ms-keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); }
  100% {
    border-bottom: 20px solid #D44A27;
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); } }

@keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); }
  100% {
    border-bottom: 20px solid #D44A27;
    padding-top: calc(24px + 1vh);
    padding-bottom: calc(5px + 1vh); } }

.theme-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140px;
  background-color: var(--background-color);
  z-index: 5; }

.theme {
  width: 140px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 auto;
  background-color: rgba(0, 0, 0, 0.1); }
  .theme p {
    font-size: 16px;
    margin: 0 10px 0 10px; }

.home-body {
  display: block;
  font-family: Aadhunik, sans-serif;
  margin: 7vh auto 0 auto;
  max-width: 730px;
  height: 83vh;
  text-align: center; }
  .home-body p {
    font-size: 4em; }
  @media all and (orientation: landscape) {
    .home-body p {
      margin: 20px 0 20px 5px; } }
  @media all and (max-width: 730px) and (orientation: portrait) {
    .home-body {
      margin: 7vh 1vw 0 2vw; } }

.home-container img {
  width: 100%;
  z-index: 1; }

@media all and (max-width: 959px) and (min-width: 600px) and (orientation: portrait) {
  .home-container img {
    width: 80vw; } }

@media all and (max-width: 599px) and (min-width: 320px) and (orientation: portrait) {
  .home-container img {
    width: 90vw; } }

@media all and (orientation: landscape) {
  .home-container img {
    height: 60vh;
    margin-top: 1vh; } }

.about-body {
  font-family: Aadhunik, sans-serif;
  margin-top: 20px; }

.about-footer {
  display: block;
  margin: 0 auto 0 auto;
  position: relative;
  top: -350px;
  max-width: 730px;
  z-index: 1; }
  @media all and (max-width: 600px) and (orientation: portrait) {
    .about-footer {
      top: -180px; } }
  @media all and (max-width: 700px) and (orientation: landscape) {
    .about-footer {
      top: -500px; } }

.about-text {
  display: block;
  margin: 0 auto 0 auto;
  font-size: 1.4em;
  font-family: Ubuntu-L, sans-serif;
  text-wrap: normal;
  max-width: 700px;
  z-index: 3; }
  @media all and (max-width: 600px) and (orientation: portrait) {
    .about-text {
      margin: 0 5px 0 10px; } }
  @media all and (max-width: 700px) and (orientation: landscape) {
    .about-text {
      position: relative;
      top: -180px;
      font-size: 2em;
      margin: 0 10px 0 10px; } }
  @media all and (min-width: 701px) and (max-width: 900px) and (orientation: landscape) {
    .about-text {
      font-size: 2em; } }

.about-header {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 730px;
  z-index: 2; }
  @media all and (max-width: 700px) and (orientation: landscape) {
    .about-header {
      position: relative;
      top: -120px; } }

.design-body {
  display: block;
  margin: 0 auto 0 auto;
  width: 90vw; }
  .design-body p {
    font-family: Aadhunik, sans-serif;
    font-size: 2em;
    margin-bottom: 0; }

.design-list {
  display: grid; }

.design-list-top {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  border: 2px solid #D44A27;
  border-left-width: 0;
  justify-content: space-around; }

.design-list-mid {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid #D44A27;
  border-right-width: 0;
  border-top-width: 0;
  justify-content: space-around; }

.design-list-bottom {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  border: 2px solid #D44A27;
  border-left-width: 0;
  border-top-width: 0;
  justify-content: space-around; }

.long-image {
  margin: 20px auto 20px auto;
  height: 25vh;
  width: 40%;
  background-color: var(--design-icon-background);
  display: flex; }
  .long-image img {
    display: block;
    width: 90%;
    max-height: 90%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .long-image {
      height: 18vh;
      width: 45%; } }

.short-image {
  margin: 20px auto 20px auto;
  height: 25vh;
  width: 25%;
  background-color: var(--design-icon-background);
  display: flex; }
  .short-image img {
    display: block;
    max-width: 95%;
    height: 95%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .short-image {
      height: 18vh; } }

.concept-tall {
  margin: 20px auto 20px auto;
  height: 40vh;
  width: 25%;
  background-color: var(--design-icon-background);
  display: flex; }
  .concept-tall img {
    display: block;
    max-width: 95%;
    height: 95%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .concept-tall {
      height: 30vh;
      width: 40%; } }

.concept-long {
  margin: 20px auto 20px auto;
  height: 40vh;
  width: 45%;
  background-color: var(--design-icon-background);
  display: flex; }
  .concept-long img {
    display: block;
    width: 95%;
    max-height: 95%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .concept-long {
      height: 30vh;
      width: 50%; } }

.contact-body {
  display: block;
  margin: 7vh auto 0 auto;
  max-width: 730px;
  text-align: center; }
  .contact-body h1 {
    font-size: 4em; }
  .contact-body p {
    margin: 0 2vw 0 2vw;
    font-family: Ubuntu-L, sans-serif;
    font-size: 2em; }

@font-face {
  font-family: 'Aadhunik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Aadhunik.ttf");
  src: local("Aadhunik"), local("Aadhunik"), url("../fonts/Aadhunik.ttf?#iefix") format("embedded-opentype"), url("../fonts/Aadhunik.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu-L';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-L.ttf");
  src: local("Ubuntu-L"), local("Ubuntu-L"), url("../fonts/Ubuntu-L.ttf?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-L.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Aadhunik, sans-serif;
  background-color: var(--background-color);
  color: white; }

@media all and (min-width: 960px) and (orientation: portrait) {
  body {
    font-size: 20px; } }

@media all and (max-width: 959px) and (min-width: 600px) and (orientation: portrait) {
  body {
    font-size: 16px; } }

@media all and (max-width: 599px) and (min-width: 320px) and (orientation: portrait) {
  body {
    font-size: 10px; } }

@media all and (max-width: 900px) and (orientation: landscape) {
  body {
    font-size: 8px; } }
