@import appBar
@import themeBar
@import homeBody
@import aboutBody
@import designBody
@import contactBody
@import codeBody
@import variables.css

@font-face
  font-family: 'Aadhunik'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Aadhunik.ttf')
  src: local('Aadhunik'), local('Aadhunik'),
  url('../fonts/Aadhunik.ttf?#iefix') format('embedded-opentype'),
  url('../fonts/Aadhunik.ttf') format('truetype')

@font-face
  font-family: 'Ubuntu-L'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Ubuntu-L.ttf')
  src: local('Ubuntu-L'), local('Ubuntu-L'),
  url('../fonts/Ubuntu-L.ttf?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-L.ttf') format('truetype')

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  padding: 0
  margin: 0
  font-size: 14px
  font-family: var(--primary-font)
  background-color: var(--background-color)
  color: var(--primary-font-color)

@media all and (min-width: 960px) and (orientation: portrait)
  body
    font-size: 16px
@media all and (max-width: 599px) and (min-width: 400px) and (orientation: portrait)
  body
    font-size: 10px
@media all and (max-width: 399px) and (min-width: 335px) and (orientation: portrait)
  body
    font-size: 8px
@media all and (max-width: 334px) and (orientation: portrait)
  body
    font-size: 6px