@import url(variables.css);
.header-app-bar {
  display: inline-flex;
  background-color: #1D1D1D;
  color: white;
  width: 100%;
  height: var(--app-bar-height);
  -webkit-box-shadow: 0 2px 10px #0E0E0E;
  -moz-box-shadow: 0 2px 10px #0E0E0E;
  box-shadow: 0 2px 4px #0E0E0E;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 5; }
  .header-app-bar a {
    font-family: var(--primary-font);
    font-size: 1.5em;
    cursor: pointer;
    align-self: center;
    margin: 0 1vw 0 1vw;
    padding-left: 6px;
    padding-right: 8px; }
  @media all and (min-width: 960px) and (orientation: portrait) {
    .header-app-bar {
      height: calc(var(--app-bar-height) + 18px); } }
  @media all and (max-width: 599px) and (min-width: 400px) and (orientation: portrait) {
    .header-app-bar {
      height: calc(var(--app-bar-height) - 18px); } }
  @media all and (max-width: 399px) and (min-width: 335px) and (orientation: portrait) {
    .header-app-bar {
      height: calc(var(--app-bar-height) - 24px); } }
  @media all and (max-width: 334px) and (orientation: portrait) {
    .header-app-bar {
      height: calc(var(--app-bar-height) - 32px); } }

.selected {
  animation-name: fade-in;
  animation-duration: 0.3s;
  border-bottom: 20px solid var(--accent);
  padding-top: 35px;
  padding-bottom: 15px; }
  @media all and (max-width: 599px) and (min-width: 335px) and (orientation: portrait) {
    .selected {
      padding-top: 30px;
      padding-bottom: 10px; } }
  @media all and (max-width: 334px) and (orientation: portrait) {
    .selected {
      padding-top: 27px;
      padding-bottom: 7px; } }

.right-app-bar {
  display: inline-flex;
  align-self: center;
  margin-left: auto; }
  .right-app-bar a {
    margin: 0 1vw 0 1vw; }
  .right-app-bar img {
    height: 1.5em; }

@-webkit-keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0); }
  100% {
    border-bottom: 20px solid var(--accent); } }

@-moz-keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0); }
  100% {
    border-bottom: 20px solid var(--accent); } }

@-ms-keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0); }
  100% {
    border-bottom: 20px solid var(--accent); } }

@keyframes fade-in {
  0% {
    border-bottom: 20px solid rgba(0, 0, 0, 0); }
  100% {
    border-bottom: 20px solid var(--accent); } }

.theme-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140px;
  background-color: var(--background-color);
  z-index: 5; }

.theme {
  width: 140px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 auto;
  background-color: rgba(0, 0, 0, 0.1); }
  .theme p {
    font-size: 16px;
    margin: 0 10px 0 10px; }

.home-body {
  display: block;
  font-family: var(--primary-font);
  margin: 7vh auto 0 auto;
  max-width: 730px;
  height: 83vh; }
  .home-body p {
    font-size: 3em; }
  @media all and (orientation: landscape) {
    .home-body p {
      margin: 20px 0 20px 5px; } }
  @media all and (max-width: 730px) and (orientation: portrait) {
    .home-body {
      margin: 7vh 1vw 0 2vw; } }

.home-container img {
  width: 100%;
  z-index: 1; }

@media all and (max-width: 959px) and (min-width: 600px) and (orientation: portrait) {
  .home-container img {
    width: 80vw; } }

@media all and (max-width: 599px) and (min-width: 320px) and (orientation: portrait) {
  .home-container img {
    width: 90vw; } }

@media all and (orientation: landscape) {
  .home-container img {
    height: 60vh;
    margin-top: 1vh; } }

.about-body {
  font-family: var(--primary-font);
  margin-top: 20px;
  height: 100vh; }

.about-footer {
  display: block;
  margin: 0 auto 0 auto;
  position: relative;
  top: -350px;
  max-width: 730px;
  z-index: 1; }
  @media all and (max-width: 700px) and (min-width: 400px) and (orientation: portrait) {
    .about-footer {
      top: -220px; } }
  @media all and (max-width: 399px) and (orientation: portrait) {
    .about-footer {
      top: -22vh; } }
  @media all and (max-width: 701px) and (orientation: landscape) {
    .about-footer {
      top: -420px; } }

.about-text {
  display: block;
  position: relative;
  top: -5vh;
  margin: 0 auto 0 auto;
  font-size: 1.7em;
  font-family: var(--secondary-font);
  max-width: 700px;
  z-index: 3; }
  @media all and (max-width: 700px) and (orientation: portrait) {
    .about-text {
      margin: 0 5px 0 10px; } }
  @media all and (max-width: 701px) and (orientation: landscape) {
    .about-text {
      position: relative;
      top: -160px;
      margin: 0 10px 0 10px; } }

.about-header {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 730px;
  z-index: 2; }
  @media all and (max-width: 700px) and (orientation: landscape) {
    .about-header {
      position: relative;
      top: -100px; } }

.design-body {
  display: block;
  margin: 0 auto 0 auto;
  width: 90vw; }
  .design-body p {
    font-family: var(--primary-font);
    font-size: 2em;
    margin-bottom: 0; }

.design-list {
  display: grid; }

.design-list-top {
  width: 100%;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  border: 2px solid var(--accent);
  border-left-width: 0;
  justify-content: space-around; }

.design-list-mid {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid var(--accent);
  border-right-width: 0;
  border-top-width: 0;
  justify-content: space-around; }

.design-list-bottom {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  border: 2px solid var(--accent);
  border-left-width: 0;
  border-top-width: 0;
  justify-content: space-around; }

.long-image {
  margin: 20px auto 20px auto;
  height: 25vh;
  width: 40%;
  background-color: var(--design-icon-background);
  display: flex; }
  .long-image img {
    display: block;
    width: 90%;
    max-height: 90%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .long-image {
      height: 18vh;
      width: 45%; } }

.short-image {
  margin: 20px auto 20px auto;
  height: 25vh;
  width: 25%;
  background-color: var(--design-icon-background);
  display: flex; }
  .short-image img {
    display: block;
    max-width: 95%;
    height: 95%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .short-image {
      height: 18vh; } }

.concept-tall {
  margin: 20px auto 20px auto;
  height: 40vh;
  width: 25%;
  background-color: var(--design-icon-background);
  display: flex; }
  .concept-tall img {
    display: block;
    max-width: 95%;
    height: 95%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .concept-tall {
      height: 30vh;
      width: 40%; } }

.concept-long {
  margin: 20px auto 20px auto;
  height: 40vh;
  width: 45%;
  background-color: var(--design-icon-background);
  display: flex; }
  .concept-long img {
    display: block;
    width: 95%;
    max-height: 95%;
    margin: auto; }
  @media all and (orientation: portrait) {
    .concept-long {
      height: 30vh;
      width: 50%; } }

.contact-body {
  margin: 6vh auto 0 auto;
  width: 80vw;
  text-align: center; }
  .contact-body h1 {
    font-family: var(--primary-font);
    font-size: 4em;
    margin: 0 2vw 2vh 2vw; }
  .contact-body p {
    margin: 2vh 2vw 1vh 2vw;
    font-family: var(--secondary-font);
    font-size: 1.5em; }
  @media all and (orientation: landscape) {
    .contact-body {
      height: 100vh; } }
  @media all and (orientation: portrait) {
    .contact-body {
      width: 90vw; } }

.contact-methods-top {
  display: inline-flex;
  margin-top: 4vh;
  border: 2px solid var(--accent);
  border-right-width: 0;
  border-bottom-width: 0;
  width: 100%; }

.contact-methods-bottom {
  display: inline-flex;
  border: 2px solid var(--accent);
  border-left-width: 0;
  width: 100%; }

.contact-card {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 4vh 4vw 4vh 4vw;
  background-color: var(--design-icon-background); }
  .contact-card a {
    display: flex;
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    text-decoration: none;
    height: 70%;
    width: 100%;
    align-items: center; }
    .contact-card a p {
      display: block;
      margin: auto 0 auto auto;
      font-size: 4em; }
    .contact-card a i {
      font-size: 5em;
      margin-right: auto; }
    .contact-card a img {
      width: 80%;
      max-height: 100%;
      display: block;
      margin: auto; }
    @media all and (max-width: 899px) and (orientation: landscape) {
      .contact-card a p {
        font-size: 2em; }
      .contact-card a i {
        font-size: 3em; } }
    @media all and (min-width: 900px) and (orientation: landscape) {
      .contact-card a p {
        font-size: 4em; }
      .contact-card a i {
        font-size: 5em; } }

.contact-copy {
  display: inline-flex;
  text-align: center;
  font-family: var(--secondary-font);
  cursor: pointer; }
  .contact-copy p {
    margin: 1vh 1vw 1vh 1vw;
    padding-bottom: 1vh;
    font-size: 1.4em; }
    .contact-copy p span {
      font-size: 0.8em; }
  .contact-copy i {
    font-size: 1.5em;
    margin: 0 1vw 0 1vw;
    align-self: center; }
  @media all and (max-width: 899px) and (orientation: landscape) {
    .contact-copy p {
      font-size: 1em; }
      .contact-copy p span {
        font-size: 0.5em; } }
  @media all and (min-width: 900px) and (orientation: landscape) {
    .contact-copy p {
      font-size: 1.3em; }
      .contact-copy p span {
        font-size: 0.8em; } }

.code-body {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 90vw; }
  .code-body h1 {
    font-family: var(--primary-font);
    font-size: 2em;
    margin-bottom: 1vh; }
  @media all and (orientation: portrait) {
    .code-body {
      width: 95vw; } }

.code-list-top {
  display: inline-flex;
  border: 2px solid var(--accent);
  border-left-color: rgba(0, 0, 0, 0);
  justify-content: space-around; }

.code-list-mid {
  display: inline-flex;
  border: 2px solid var(--accent);
  border-right-color: rgba(0, 0, 0, 0);
  border-top-width: 0;
  justify-content: space-around;
  margin-bottom: 30px; }

.code-card-contents {
  width: 35%;
  background-color: var(--design-icon-background);
  margin: 2vh 4vw 2vh 4vw; }
  @media all and (orientation: portrait) {
    .code-card-contents {
      width: 45%; } }

.code-card-background {
  background-color: var(--code-text-background);
  text-decoration: none;
  display: flex;
  flex-direction: column; }
  .code-card-background a {
    color: var(--primary-font-color); }
    .code-card-background a img {
      margin: 1vh auto 0 auto;
      width: 70%; }

.code-card {
  width: 100%;
  text-align: center; }
  .code-card p {
    font-size: 2em;
    margin: 1vh auto 1vh auto;
    font-family: var(--primary-font); }

.code-paragraph {
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 1.5em !important;
  font-family: var(--secondary-font) !important; }

.code-download {
  background-color: rgba(0, 0, 0, 0) !important;
  display: inline-flex; }
  .code-download p {
    margin: 1vh 0 1vh auto; }
  .code-download a {
    height: 100%;
    align-self: center;
    margin: 0 auto 0 1vw; }
    .code-download a i {
      font-size: 3em; }

@font-face {
  font-family: 'Aadhunik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Aadhunik.ttf");
  src: local("Aadhunik"), local("Aadhunik"), url("../fonts/Aadhunik.ttf?#iefix") format("embedded-opentype"), url("../fonts/Aadhunik.ttf") format("truetype"); }

@font-face {
  font-family: 'Ubuntu-L';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-L.ttf");
  src: local("Ubuntu-L"), local("Ubuntu-L"), url("../fonts/Ubuntu-L.ttf?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-L.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--primary-font-color); }

@media all and (min-width: 960px) and (orientation: portrait) {
  body {
    font-size: 16px; } }

@media all and (max-width: 599px) and (min-width: 400px) and (orientation: portrait) {
  body {
    font-size: 10px; } }

@media all and (max-width: 399px) and (min-width: 335px) and (orientation: portrait) {
  body {
    font-size: 8px; } }

@media all and (max-width: 334px) and (orientation: portrait) {
  body {
    font-size: 6px; } }
